




  <div class="container-fluid py-2 d-flex flex-column" style="height: 300px; border-bottom: 1px solid #e0e0e0; background-color: black;">

    <div class="row">
      <div class="col d-flex">
        <app-lower-header></app-lower-header>
      </div>

      <div class="col col-xs-12 py-4" style="color: white;">
        <h1 class="py-4" style="font-size:40px;">Bakir Bukvic</h1>
        <div class="col col-xs-12" style="margin-left: 80px; color:#006400">
          <a style="text-decoration: none; color:#006400"href="https://github.com/BakirBukvic" target="_blank" >  <img src="assets/githubicon.png" style="width:60px;"> </a>
        </div>
      </div>

    </div>

  </div>
