<div class="container-fluid py-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Work Experience</h1>
    </div>
  </div>
  <div class="row">
    <!-- Job 1 -->
    <div class="col-xs-2">
      <div class="card mb-4 shadow">
        <div class="card-body">
          <h2 class="card-title mb-3 " style="color:#07031A">Data entry assistant</h2>
          <h3 class="card-subtitle mb-2 text-muted">StorsenDigital</h3>
          <p class="card-text">A paid internship role where I learned a lot about the current state of the global job eco-system</p>
          <ul>
            <p>Some of my tasks:</p>
            <li>
              Finding candidates for job postings
            </li>
            <li>
              Making market research reports
            </li>
            <li>
              Working in a CRM system. Cleaning data, processing data
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Job 2 -->

    <div class="col-xs-2">
      <div class="card mb-4 shadow">
        <div class="card-body">
          <h2 class="card-title mb-3 " style="color:#07031A">Currently pursuing</h2>
          <h3 class="card-subtitle mb-2 text-muted">Junior software developer position</h3>
          <p class="card-text">I want to prove to the world that a college degree is not needed for a developer job. My goal is to teach others that knowledge is key, not a signature</p>
          <ul>
            <p>Currently learning</p>
            <li>
              NodeJs
            </li>
            <li>
              Salesforce
            </li>
            <li>
              Algorithms
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


