<div class="container-fluid py-4">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Work Experience</h1>
    </div>
  </div>
  <div class="row">
    <!-- Job 1 -->
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Data entry assitant</h5>
          <h6 class="card-subtitle mb-2 text-muted">StorsenDigital</h6>
          <p class="card-text">Helpinig an outsourcing team find their candidates through job sites.</p>
          <p class="card-text">Made marekting reports for job related data</p>
          <p class="card-text">Working with a CRM system to clean, and preprocess data</p>
        </div>
      </div>
    </div>


  </div>
</div>
