<div class="container-fluid py-5">
  <div class="row">
    <div class="col">
      <!-- Add the navigation bar here -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <div class="navbar-nav">
          <a class="nav-item nav-link btn btn-outline-primary mr-2" type="button" (click)="filter('data')">Data</a>
          <a class="nav-item nav-link btn btn-outline-primary mr-2" type="button" (click)="filter('frontend')">Frontend</a>
          <a class="nav-item nav-link btn btn-outline-primary mr-2" type="button" (click)="filter('salesforce')">Salesforce</a>
          <a class="nav-item nav-link btn btn-outline-primary mr-2" type="button" (click)="filter('')">No filter</a>
        </div>
      </nav>


<div class="container-fluid py-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Education</h1>
    </div>
  </div>
  <div class="row">
    <!-- Official Education -->
    <div class="col-md-6">
      <h3 class="text-center mb-4">Official Education</h3>
      <!-- Education 1 -->
      <div class="card mb-4 shadow">
        <div class="card-body">

          <h5 class="card-title mb-3">Highschool</h5>
          <img src="assets/gimnazija.jpg" class="py-2" style="width: 70px;">
          <h6 class="card-subtitle mb-2 text-muted">Gimnazija "Dr. Mustafa Kamaric" IT</h6>
          <p class="card-text">IT</p>
          <h4>What i learned</h4>
          <p>Gimnazija "Dr. Mustafa Kamaric" is a revolutiory higschool. Teaching kids from a young age, a lot about the IT world.</p>
          <p>I got a familliar with:
            <ul>
              <li>
                C++
              </li>
              <li>
                Algorithms
              </li>
              <li>
                php
              </li>
              <li>
                Javascript
              </li>
              <li>
                HTML/CSS
              </li>
              <li>
                Booleans algebra
              </li>
              <li>
                Java
              </li>
            </ul>
          <p>SQL through an ORACLE program, and touching upon every MS office app</p>
          <p>On top of all of that, you also get mainstream classes, like biology, math...</p>

        </div>

      </div>
      <!-- Education 2 -->
      <div class="card mb-4 shadow">
        <div class="card-body">
          <h5 class="card-title mb-3">College</h5>
          <h6 class="card-subtitle mb-2 text-muted">IPI Akademija</h6>
          <img src="assets/ipi.png" class="py-2" style="width: 70px;">
          <p class="card-text">IT</p>
          <h4>What I learned</h4>

          <p>I am currently pursuing my bachelor's degree in Computer Science, through the IT program at IPI akadmeija</p>
          <h5>-- Expected to graduate in the year 2026 --</h5>

       </div>
      </div>
      <!-- Add more cards as needed -->
    </div>
    <!-- Certifications -->
    <div class="col-md-6">
      <h3 class="text-center mb-4">Certifications & Courses</h3>
      <!-- Certification 1 -->
      <div class="card mb-4 shadow" *ngIf="currentFilter ==='frontend' || currentFilter===''">
        <div class="card-body">
          <a href="https://www.udemy.com/certificate/UC-652dd0d8-73e9-49f6-9731-0d76d6b59b15/" target="_blank"> <img src="assets/angular.jpg" class="py-2" style="width: 60px;">  </a>
          <h5 class="card-title mb-3"  >Angular course by Maximilian Schwarzmüller</h5>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <p class="card-text">A complete guide to Angular</p>
          <p class="card-text">Throughout the course I built 1 fully made Angular app(website), and 24+ smaller websites.</p>
          <p class="card-text">I had a goal to touch upon as many subjects related to Angular as possible, just to get a general picture</p>
          <h5>Here's a quick overview of technologies that I used</h5>
          <li>
            RESTFUL API's
          </li>
          <li>
            The ng client
          </li>
          <li>
            rxjs
          </li>
          <li>
            HTPP sending and recieving data
          </li>
          <li>
            Angular material
          </li>
          <li>
            Angular animations
          </li>
          <li>
            Up to date with Angular 17
          </li>

        </div>


      </div>
      <!-- Certification 2 -->
      <div class="card mb-4 shadow" *ngIf="currentFilter ==='data' || currentFilter===''">
        <div class="card-body">
          <a href="https://www.udemy.com/certificate/UC-9a936ee8-e883-475e-95c4-a86e346db14c/" target="_blank"><img src="assets/data.png" class="py-2" style="width: 70px;"></a>
          <h5 class="card-title mb-3">Data analysis course by 365 team</h5>

          <p class="card-text">A full deep dive into the world of data analysis.</p>
          <p>Throughout the course, I was guided by a group of skilled data analysts, through the whole process of data analysis.</p>
          <p>I had a goal in mind to get a basic idea of data analysis, to see if it's something I'm interested in.</p>
          <p>Even though my goal was short-sighted, my gained knowledge is large.</p>

        </div>
      </div>

      <div class="card mb-4 shadow" *ngIf="currentFilter ==='salesforce' || currentFilter===''">
        <div class="card-body">
          <a href="https://www.salesforce.com/trailblazer/bbukvic" target="_blank"> <img src="assets/ranger.jpg" class="py-2" style="width: 100px;"> </a>
          <h5 class="card-title mb-3">Trailhead ranger</h5>

          <p class="card-text">I learned the ins and outs of Salesforce</p>
          <p>My goal was to prepare for future roles that contain work in CRM systems, and to pass the Salesforce admin exam</p>
          <p>I acquired 100,000 points, thus becoming a trailhead ranger</p>

        </div>
      </div>

      <div class="card mb-4 shadow" *ngIf="currentFilter ==='frontend' || currentFilter===''">
        <div class="card-body">
          <a href="https://www.udemy.com/certificate/UC-68447e77-4808-4be0-b273-9a6a7ab957f0/" target="_blank">  <img src="assets/github.png" class="py-2" style="width: 70px;"></a>
          <h5 class="card-title mb-3">Git & Github course by Colt Steele</h5>

          <p class="card-text">An awesome course related to Git and GitHub.</p>
          <p>Git to me was always something scary and unkown</p>
          <p>I wanted to learn Git on my own, through YouTube tutorials, but no one really explains this kind of stuff to complete beginners.</p>
          <p>This course teaches you everything you need to know about version control (related to Git and GitHub).</p>
          <p>I had a goal in mind to learn Git, to become a better asset to developer teams.</p>

        </div>
      </div>

      <div class="card mb-4 shadow" *ngIf="currentFilter ==='salesforce' || currentFilter===''">
        <div class="card-body">
          <a href="https://www.udemy.com/certificate/UC-40034dde-5b80-44c3-ad93-9ca5bbb62d50/" target="_blank"><img src="assets/salesforce.png" class="py-2" style="width: 70px;"></a>
          <h5 class="card-title mb-3">Salesforce admin exam preperation course by David Massey</h5>

          <p class="card-text">David Massey is a lead solutions engineer @ salesoforce UK.</p>
            <p>Thorugh out the course I learned learning systems designed to boost your probability of passing the admin exam</p>
            <p>I had a goal in mind to prepare myself for the Salesforce exam</p>

        </div>

      </div>
      <!-- Add more cards as needed -->
    </div>
  </div>
</div>
