

<div class="container" style="max-width:90%">
  <div class="row">
    <div class="col col-xs-2">
      <div class="container">
        <div class="row">
          <div class="col">
            <img src="assets/headshot.JPG" alt="A photo of Bakir Bukvic" class="img-fluid" style="height:50%">

          </div>
        </div>
      </div>
    </div>

    <div class="col">

<p>Hi! My name is Bakir. I am from Bosnia and Hercegovina. I live in a small town called Gracanica. </p>

    </div>
  </div>




</div>
