<div class="container" style="max-width: 90%; padding-bottom: 100px;" >
  <div class="row py-4">
    <div class="col">
      <h1 style="font-size: 50px" class="mb-5">About me</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="container py-2">
        <div class="row">
          <div class="col">
            <img
              src="assets/headshot.JPG"
              alt="A photo of Bakir Bukvic"
              class="img-fluid"
              style="height: 70%"
            />
          </div>
        </div>
      </div>
    </div>



    <div class="col-8 py-4">
      <h1>Basic introduction</h1>
      <p>Hi! My name is Bakir. I am from Bosnia and Hercegovina.I come from a small town called Gracanica.</p>
      <p>I have a huge passion for learning and self development in general. </p>
      <p>I love learning about new topics, not just related to coding, but coding takes up a big part of my life.</p>
      <p>I made this CV page to catch the eyes of potentional employers, and to maybe motivate my fellow peers. </p>


      <h1>Education</h1>
      <p>I was the first generation of an IT oriented Gymnasium.</p>
      <p>At Gimnazija "Dr. Mustafa Kamaric", I learned a lot about coding, and IT in general</p>
      <p>I would say that my high school is more of a college, than a basic education institute</p>
      <p>Why? Here's why</p>
      <h1>The tech stack at my highschool</h1>
      <ul>
        <li>
          C++
        </li>
        <li>
          Java
        </li>
        <li>
          Php
        </li>
        <li>
          Javascript
        </li>
        <li>
          SQL
        </li>
        <li>
          HTML/CSS
        </li>
        <li>
          Arduino
        </li>
        <li>
          Matlab
        </li>



      </ul>



      <p>On top of all of that, I also got experience with: </p>
      <ul>
        <li>
          Booleans algebra
        </li>
        <li>
          Logism (a digital circuit simulator)
        </li>
        <li>
          An ORACLE, 2 semester course
        </li>
      </ul>

      <h1>College education</h1>
      <p>Apart from my highschool education, I am currently pursuing a bachelors degree in Computer Science at IPI Akademija</p>
      <p>I enrolled in 2023, and I expect to finish in 2026</p>

      <h1>Passion for learning</h1>
      <p>I am constantly learning new things. This CV is a way for me to solidify my knowledge of Angular and bootstrap.</p>
      <p>I endulge myself in online courses and tutorials</p>
      <p>If I don't get a topic, I'm not shy to ask for help</p>
      <ul>



      </ul>











    </div>
  </div>


  <div class="container-fluid py-4 border">
    <h1 class="text-center py-4">Tech stack</h1>
    <div class="row py-4" >
      <!-- Frontend -->
      <div class="col-md-4">
        <h2 class="text-center border">Frontend</h2>
        <ul class="list-unstyled py-4 text-center">

          <li class="mb-4">
            <div class="col py-2">
              <img src="assets/html.jpg" alt="HTML" class="language-image ">
            </div>
           <div class="col">
            HTML
           </div>
          </li>
          <li class="mb-4">
            <div class="col">
              <img src="assets/css.png" alt="CSS" class="language-image ">
            </div>
            <div class="col py-2">
              CSS
            </div>

          </li>
          <li class="mb-4">
            <div class="col">
              <img src="assets/javascript.png" alt="Javascript" class="language-image">
            </div>
            <div class="col py-2">
              Javascript
            </div>

          </li>
          <li class="mb-4">
            <div class="col">
              <img src="  assets/angular.jpg " alt="Angular" class="language-image">
            </div>
            <div class="col py-2">
              Angular
            </div>


          </li>
          <li class="mb-4">
            <div class="col">
              <img src="assets/typescript.png" alt="Typescript" class="language-image">
            </div>
            <div class="col py-2">
              Typescript
            </div>

          </li>
          <li class="mb-4">
            <div class="col">
              <img src="assets/rxjs.png" alt="rxjs" class="language-image">
            </div>
            <div class="col">
              rxjs
            </div>

          </li>





        </ul>
        <!-- Add your frontend content here -->
      </div>
      <!-- Backend -->
      <div class="col-md-4">
        <h2 class="text-center border">Backend</h2>
        <ul class="list-unstyled py-2" style="padding-left: 100px;">
        <li>
          SQL
        </li>
        <li>
          Firebase
        </li>
        <li style="color:gray">
          Node.js
        </li>


        </ul>
        <!-- Add your backend content here -->
      </div>
      <!-- Additional Utilities -->
      <div class="col-md-4">
        <h2 class="text-center border">Additional Utilities</h2>
        <ul class="list-unstyled py-2" style="padding-left: 100px;">
          <li>
            Git & Github
          </li>
          <li>
            Excel
          </li>
          <li>
            Working in CRM's
          </li>

        </ul>
        <!-- Add your additional utilities content here -->
      </div>
    </div>
  </div>

