<div class="container" style="max-width: 90%">
  <div class="row py-4">
    <div class="col">
      <h1 style="font-size: 50px" class="mb-5">About me</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="container py-2">
        <div class="row">
          <div class="col">
            <img
              src="assets/headshot.JPG"
              alt="A photo of Bakir Bukvic"
              class="img-fluid"
              style="height: 70%"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 py-4">
      <h1>Basic introduction</h1>
      <p>Hi! My name is Bakir. I am from Bosnia and Hercegovina, currently living in a small town called Gracanica.</p>
      <p>I have a huge passion for learning and self development in general. </p>
      <p>I love learning about new topics, not just related to coding, but coding takes up a big part of my life.</p>
      <p>I made this CV page to catch the eyes of potentional employers, and to maybe motivate my fellow peers. </p>
      <p>Looking at other peoples resumes, and CV pages, motivates the heck out of me!</p>

      <h1>Education</h1>
      <p>I was the first generation of an IT oriented Gymnasium.</p>
      <p>At Gimnazija "Dr. Mustafa Kamaric", I learned a lot about coding, and IT in general</p>
      <p>I would say that my high school is more of a college, than a basic education institute</p>
      <p>Why? Here's why</p>
      <h1>The tech stack at my Gymnasium</h1>
      <ul>
        <li>
          C++
        </li>
        <li>
          Java
        </li>
        <li>
          Php
        </li>
        <li>
          Javascript
        </li>
        <li>
          SQL
        </li>
        <li>
          HTML/CSS
        </li>
        <li>
          Arduino
        </li>
        <li>
          Matlab
        </li>



      </ul>



      <p>On top of all of that, you also get experience with: </p>
      <ul>
        <li>
          Booleans algebra
        </li>
        <li>
          Logism (a digital circuit simulator)
        </li>
        <li>
          An ORACLE, 2 semester course
        </li>
      </ul>

      <h1>College education</h1>
      <p>Apart from my highschool education, I am currently pursuing a bachelors degree in Computer Science at IPI Akademija</p>
      <p>I enrolled in 2023, and I am expecting to finish in 2026</p>

      <h1>Passion for learning</h1>
      <p>I am constantly learning new things. This CV is a part of my learning journey for Angular!</p>
      <p>I endulge myself in online courses and tutorials</p>
      <p>If I don't get a topic, I'm not shy to ask for help</p>
      <h2>Here are some of the offical courses I went through and got a certification</h2>
      <ul>
        <li>
          Google marketing

        </li>
        <li>
          Data analysis
        </li>
        <li>
          Angular
        </li>
        <li>
          Git and Github
        </li>
        <li>
          Currently working on: NodeJS
        </li>


      </ul>
      <h1>Tech stack</h1>


      <p>Angular, JS, Typescritp, HTML,CSS, GIT,GITHUB,COPILOT, Python, Numpy, Pandas, rxjs, C++, C,</p>

    </div>
  </div>
