<div class="container-fluid py-4 text-center">
  <div class="row">
    <div class="col">
      <h1>My projects</h1>
    </div>
  </div>
  <div class="row py-4">
    <!-- Project 1 -->
    <div class="col-md-4">
      <div class="card">
        <a (click)="imgClick(0)" type="button"><img src="assets/AngularStranica.png" class="card-img-top py-2" alt="Project 1" style="height: 300px; object-fit: contain;"> </a>
        <div class="card-body">
          <h4 class="card-title">Angular</h4>
          <p class="card-text">An Angular shop </p>
          <a href="https://angular-shop-base.web.app/recipes" class="btn btn-primary mr-4" target="_blank">Try it out!</a>
          <a href="https://github.com/B4akir/Angular-Shop" class="btn btn-outline-primary" target="_blank">Github</a>
        </div>
      </div>
    </div>
    <!-- Project 2 -->
    <div class="col-md-4">
      <div class="card">
       <a type="button" (click)="imgClick(1)"> <img src="assets/Cigrica.png" class="card-img-top py-2" alt="Project 2" style="height: 300px; object-fit: contain;"></a>
        <div class="card-body">
          <h4 class="card-title">C</h4>
          <p class="card-text">A rouge 1980 copy using C</p>
          <a href="https://github.com/B4akir/Adventure-Game" class="btn btn-primary" target="_blank">Github</a>
        </div>
      </div>
    </div>


  </div>
</div>


<div *ngIf="!isDisabled" class="overlay" (click)="exitImage()">
  <div class="row justify-content-center align-items-center">
    <div class="col-auto">
      <button class="btn btn-primary btn-lg" (click)="leftNav(); $event.stopPropagation();"><</button>
    </div>
    <div class="col-auto">
      <img [src]="currentImage" alt="Slika" (click)="$event.stopPropagation()">
    </div>
    <div class="col-auto">
      <button class="btn btn-primary btn-lg" (click)="rightNav(); $event.stopPropagation();"> > </button>
    </div>
  </div>
</div>
